<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brands</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Brands</h1>
<a href="/html/brand/new">Add New Brand</a> | <a href="/html/index">Main Page</a>
<ul id="brand-list"></ul>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "/brand",
            method: "GET",
            success: function(data) {
                let brandList = $("#brand-list");
                brandList.empty();
                data.forEach(function(brand) {
                    let listItem = `<li>
                            <a href="/html/brand/edit/${brand.id}">${brand.name}</a>
                            <button onclick="deleteBrand(${brand.id})">Delete</button>
                        </li>`;
                    brandList.append(listItem);
                });
            }
        });
    });

    function deleteBrand(id) {
        $.ajax({
            url: `/brand/${id}`,
            method: "DELETE",
            success: function() {
                window.location.reload();
            },
            error: function(xhr) {
                alert(xhr.responseJSON.errorMessage);
            }
        });
    }
</script>
</body>
</html>
