<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Main Page</h1>
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="/html/category">Manage Categories</a>
        </li>
        <li class="list-group-item">
            <a href="/html/brand">Manage Brands</a>
        </li>
        <li class="list-group-item">
            <a href="/html/product">Manage Products</a>
        </li>
    </ul>
</div>
</body>
</html>
